<section id="hem" class="hero">
    <div class="hero-content">
         <img src="~/images/Nelly.jpg" alt="Nelly" class="profile-image"> 
        <h1>Nylegna Kir</h1>
        <p>.NET Developer Student <br /> at KYH Liljeholmen</p>
        <div class="hero-description">
            <p>Based in Sweden, Stockholm</p>
        </div>
        <div class="social-links">
            <a href="https://github.com/nellysosobrado" class="social-icon"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/nylegnakir/" class="social-icon"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="hero-buttons">
            <a href="~/images/CV_NylegnaKir_Sosobrado.pdf" download class="cta-button secondary">Download my CV</a>
            <a href="#projekt" class="cta-button secondary">My Projects</a>
            <a href="#kontakt" class="cta-button secondary nav-link">Contact Me!</a>
        </div>
    </div>
</section>

