<section id="skills" class="skills-carousel-section">
    <div class="carousel-track">
        <div class="carousel-item"><i class="bi bi-code-slash"></i><h4>C# / .NET</h4></div>
        <div class="carousel-item"><i class="bi bi-window-desktop"></i><h4>Razor Pages / MVC</h4></div>
        <div class="carousel-item"><i class="bi bi-database"></i><h4>EF Core</h4></div>
        <div class="carousel-item"><i class="bi bi-filetype-html"></i><h4>HTML / CSS / JS</h4></div>
        <div class="carousel-item"><i class="bi bi-server"></i><h4>SQL</h4></div>
        <div class="carousel-item"><i class="bi bi-github"></i><h4>Git & GitHub</h4></div>
    </div>
</section>
