@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
    Layout = "_Layout";
}

@* hero *@
<section id="hero">
    @await Html.PartialAsync("Partials/_HeroPartial")
</section>

@* skill section *@
<section id="skills">
    @await Html.PartialAsync("Partials/_SkillsPartial")
</section>

@* about me section *@
<section id="about-me">
    @await Html.PartialAsync("Partials/_AboutPartial", Model.Projects)
</section>


@* Projects Portfolio Display (WITH API+ SQL) *@
<section id="portfolio-api">
    @await Html.PartialAsync("Partials/_ProjectListPartial", Model.Projects)
</section>


 @* Contact FORM SECTION------------* *@
<section id="kontakt">
    @await Html.PartialAsync("Partials/_ContactPartial", new Portfolio.Models.ContactFormViewModel())
</section>


<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>
