@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
    Layout = "_Layout";
}

@* test hero *@
@await Html.PartialAsync("Partials/_HeroPartial")
@* </section> *@

@* skill section *@
@await Html.PartialAsync("Partials/_SkillsPartial")
@* </section> *@

@* about me partial *@
@await Html.PartialAsync("Partials/_AboutPartial")

<section id="about-me">
    @await Html.PartialAsync("Partials/_AboutPartial", Model.Projects)
</section>


@* Projects Portfolio Display (WITH API+ SQL) *@
<section id="portfolio-api">
    @await Html.PartialAsync("Partials/_ProjectListPartial", Model.Projects)
</section>


@* contact *@ 
 @* @await Html.PartialAsync("Partials/_ContactPartial")  *@



<a href="/Contact" class="cta-button primary">
    Kontakta mig
</a>


<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>
