@page
@model Portfolio.Pages.IndexModel
@{
    ViewData["Title"] = "Start";
    Layout = "_Layout";
}

<section id="hero">
    @await Html.PartialAsync("Partials/_HeroPartial")
</section>

<section id="about-me">
    @await Html.PartialAsync("Partials/_AboutPartial")
</section>


<section id="portfolio-api">
    <div class="section-wrapper">
        <h2 class="section-title">Portfolio</h2>
        <p class="section-subtitle">Here are some of my school and personal projects built with .NET and C#.</p>

        <div class="project-list collapsed" id="project-list">

        </div>

        <div style="text-align:center; margin-top: 1rem;">
            <button id="toggle-projects" class="cta-button soft">Show More</button>
        </div>
    </div>
</section>


<section id="kontakt">
    @await Html.PartialAsync("Partials/_ContactPartial", new Portfolio.Models.ContactFormViewModel())
</section>


<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>

@section Scripts {
    <script src="~/js/projects.js"></script>
}

